<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cadastro de República</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex flex-col min-h-screen">

<!-- Menu lateral -->
<div th:replace="~{menu.html}"></div>

<!-- Conteúdo da página -->
<div id="content" class="ml-64 mt-16 px-6 py-8 flex-grow overflow-y-auto">
    <h2 class="text-2xl font-semibold mb-6">Cadastro de República</h2>
    <form th:action="@{${republica.id} != null ? '/republic/edit/' + ${republica.id} : '/republic/create'}" th:object="${republica}" method="post" enctype="multipart/form-data">

        <div class="mb-4">
            <label for="nome" class="block text-sm font-medium text-gray-700">Nome da República:</label>
            <input type="text" class="mt-1 p-2 border border-gray-300 rounded-md w-full" th:field="*{nome}" required />
        </div>

        <div class="mb-4">
            <label for="photo" class="block text-sm font-medium text-gray-900">Photo</label>
            <div class="mt-2 flex items-center gap-x-3">
                <svg class="h-12 w-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0 0 21.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 0 0 3.065 7.097A9.716 9.716 0 0 0 12 21.75a9.716 9.716 0 0 0 6.685-2.653Zm-12.54-1.285A7.486 7.486 0 0 1 12 15a7.486 7.486 0 0 1 5.855 2.812A8.224 8.224 0 0 1 12 20.25a8.224 8.224 0 0 1-5.855-2.438ZM15.75 9a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" clip-rule="evenodd" />
                </svg>
                <button type="button" class="rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
                    Change
                </button>
            </div>
        </div>

        <div class="mb-4">
            <label for="logradouro" class="block text-sm font-medium text-gray-700">Logradouro:</label>
            <input type="text" class="mt-1 p-2 border border-gray-300 rounded-md w-full" id="logradouro" placeholder="Rua, Av, etc." required />
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mb-4">
            <div class="col-span-1">
                <label for="numero" class="block text-sm font-medium text-gray-700">Número:</label>
                <input type="number" class="mt-1 p-2 border border-gray-300 rounded-md w-full" id="numero" placeholder="Número" required />
            </div>
            <div class="col-span-1">
                <label for="cep" class="block text-sm font-medium text-gray-700">CEP:</label>
                <input type="text" class="mt-1 p-2 border border-gray-300 rounded-md w-full" id="cep" placeholder="CEP" required />
            </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-4">
            <div class="col-span-1">
                <label for="bairro" class="block text-sm font-medium text-gray-700">Bairro:</label>
                <input type="text" class="mt-1 p-2 border border-gray-300 rounded-md w-full" id="bairro" placeholder="Bairro" required />
            </div>
            <div class="col-span-1">
                <label for="cidade" class="block text-sm font-medium text-gray-700">Cidade:</label>
                <input type="text" class="mt-1 p-2 border border-gray-300 rounded-md w-full" id="cidade" placeholder="Cidade" required />
            </div>
            <div class="col-span-1">
                <label for="estado" class="block text-sm font-medium text-gray-700">Estado:</label>
                <select class="mt-1 p-2 border border-gray-300 rounded-md w-full" id="estado" required>
                    <option value="" selected>Selecione o Estado</option>
                    <option value="SP">São Paulo</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="BA">Bahia</option>
                    <option value="RS">Rio Grande do Sul</option>
                </select>
            </div>
        </div>

        <h3 class="text-xl font-semibold mb-4">Especificações</h3>
        <div class="mb-3 flex space-x-4">
            <div class="w-full sm:w-1/2">
                <label for="numeroDeQuartos" class="block text-sm font-medium text-gray-700">Número de Quartos:</label>
                <input type="number" class="mt-1 p-2 border border-gray-300 rounded-md w-full" th:field="*{numeroDeQuartos}" required />
            </div>
            <div class="w-full sm:w-1/2">
                <label for="capacidadeMaxima" class="block text-sm font-medium text-gray-700">Capacidade Máxima:</label>
                <input type="number" class="mt-1 p-2 border border-gray-300 rounded-md w-full" th:field="*{capacidadeMaxima}" required />
            </div>
        </div>

        <div class="mb-3">
            <label for="valorAluguel" class="block text-sm font-medium text-gray-700">Valor do Aluguel:</label>
            <div class="flex items-center mt-1">
                <span class="text-lg text-gray-500 mr-2">R$</span>
                <input type="number" class="p-2 border border-gray-300 rounded-md w-full" th:field="*{valorAluguel}" required />
            </div>
        </div>

        <div class="mb-4">
            <label for="ativa" class="block text-sm font-medium text-gray-700">República Ativa:</label>
            <select class="mt-1 p-2 border border-gray-300 rounded-md w-full" th:field="*{ativa}">
                <option value="true">Sim</option>
                <option value="false">Não</option>
            </select>
        </div>

        <button type="submit" class="w-full bg-[#4a701c] text-white p-3 rounded-md hover:bg-[#3e5c17] transition duration-300">Salvar</button>
    </form>
</div>

</body>
</html>
