<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Usuário</title>
    <!-- Link para o Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <style>
        .form-container {
            max-width: 600px;
            margin: 100px auto;
            padding: 20px;
            background-color: #ffffff;
            border: 1px solid #dee2e6;
            border-radius: 5px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body class="d-flex flex-column" style="height: 100vh;">

<div th:replace="~{menu.html}"></div>

<div class="container">
    <div class="form-container">
        <h3 class="pt-3">Cadastro de Usuário</h3>
        <form th:action="@{${user.id} != null ? '/user/edit/' + ${user.id} : '/user'}" th:object="${user}" method="post">

            <div class="pt-3 mb-3">
                <label for="name" class="form-label">Nome:</label>
                <input type="text" class="form-control form-control-sm" th:field="*{name}" required />
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">E-mail:</label>
                <input type="email" class="form-control form-control-sm" th:field="*{email}" required />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Senha:</label>
                <input type="password" class="form-control form-control-sm" th:field="*{password}" required />
                <div th:if="${#fields.hasErrors('password')}" class="text-danger">
                    <span th:errors="*{password}">Erro de validação da senha</span>
                </div>
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">Endereço (opcional):</label>
                <textarea class="form-control form-control-sm form-textarea" th:field="*{address}"></textarea>
            </div>
            <div class="mb-3">
                <label for="isActive" class="form-label">Ativo:</label>
                <select class="form-select form-select-sm" th:field="*{isActive}" required>
                    <option value="true" th:text="'Ativo'"></option>
                    <option value="false" th:text="'Inativo'"></option>
                </select>
            </div>

            <div class="mb-3">
                <label for="registrationDate" class="form-label">Data de Registro:</label>
                <input type="date" class="form-control form-control-sm" th:field="*{registrationDate}" required />
            </div>

            <button type="submit" class="btn btn-success btn-sm">Salvar</button>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
