<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Money</title>
</head>
<body>

<div th:replace="~{menu.html}"></div>

<div class="text-center">
    <h1 class="text-4xl font-bold">Bem-vindo ao home money!</h1>

    <div th:if="${noResidence}">
        <p class="mt-4">Você ainda não possui uma residência associada.</p>
        <a href="/residence/create" class="btn btn-primary">Criar uma nova residência</a>
        <p class="pt-3">Ou</p>

        <form th:action="@{/residence/join}" method="post" class="d-flex flex-column align-items-center">
            <div class="mb-3">
                <input type="text" name="inviteCode" class="form-control" placeholder="Código de Convite" required style="width: 10cm; margin: 0 auto;" />
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-secondary" style="width: 10cm; margin: 0 auto;">Entrar com Código de Convite</button>
            </div>
        </form>

        <div th:if="${invalidInviteCode}" class="mt-4 alert alert-danger" style="width: 10cm; margin: 0 auto;">
            O código de convite informado é inválido. Por favor, tente novamente.
        </div>
    </div>

    <div th:if="${residence}">
        <h3 class="mt-4">Sua Residência</h3>
        <p>Nome: <span th:text="${residence.name}"></span></p>
        <p>Endereço: <span th:text="${residence.street + ', ' + residence.neighborhood + ', ' + residence.city + ', ' + residence.state}"></span></p>
        <p>Valor do Aluguel: R$ <span th:text="${#numbers.formatDecimal(residence.rentValue, 1, 'POINT', 2, 'COMMA')}"></span></p>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
