<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <!-- Link para o Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body class="d-flex flex-column" style="height: 100vh;">

<!-- Barra de navegação -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #284703; z-index: 100;">
    <div class="container-fluid d-flex justify-content-center align-items-center">
        <a href="/" class="navbar-brand mb-0 h1 text-white fw-bold text-uppercase" style="font-size: 2rem;">Home Money</a>
    </div>
</nav>

<!-- Menu Lateral -->
<div class="position-fixed" style="top: 50px; bottom: 0; left: 0; width: 230px; padding-top: 20px; background-color: #284703; z-index: 90; color: white;">
    <ul class="nav flex-column">
        <!-- Seção Despesas -->
        <li class="nav-item">
            <a href="#" class="nav-link text-white">
                <i class="bi bi-credit-card me-2"></i>
                <strong>Despesas</strong>
            </a>
            <ul class="nav flex-column ms-3">
                <li class="nav-item">
                    <a href="#" class="nav-link text-white" th:href="@{/expense}">
                        <i class="bi bi-card-list me-2"></i>
                        Despesas cadastradas
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white" th:href="@{/expense/create}">
                        <i class="bi bi-plus-circle me-2"></i>
                        Cadastrar nova despesa
                    </a>
                </li>
            </ul>
        </li>

        <!-- Seção Orçamentos -->
        <li class="nav-item">
            <a href="#" class="nav-link text-white">
                <i class="bi bi-wallet2 me-2"></i>
                <strong>Orçamentos</strong>
            </a>
            <ul class="nav flex-column ms-3">
                <li class="nav-item">
                    <a href="#" class="nav-link text-white" th:href="@{/budget}"> 
                        <i class="bi bi-file-earmark-spreadsheet me-2"></i>
                        Orçamentos cadastrados
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white" th:href="@{/budget/create}">
                        <i class="bi bi-plus-circle me-2"></i>
                        Cadastrar novo orçamento
                    </a>
                </li>
            </ul>
        </li>

        <hr class="border-light">

        <!-- Seção Usuários -->
        <li class="nav-item">
            <a href="#" class="nav-link text-white">
                <i class="bi bi-person me-2"></i>
                <strong>Usuários</strong>
            </a>
            <ul class="nav flex-column ms-3">
                <li class="nav-item">
                    <a href="#" class="nav-link text-white" th:href="@{/user}">
                        <i class="bi bi-card-list me-2"></i>
                        Usuários cadastrados
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white" th:href="@{/user/create}">
                        <i class="bi bi-plus-circle me-2"></i>
                        Cadastrar novo usuário
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
